<h1>About me</h1>
<p>A pupil from whom nothing is ever demanded which he cannot do, never does all he can.
~ John Stuart Mill</p>

	<table align="center" style="width:60%"; border = "1">
	  <tr>
	    <td>.</td>
	    <td>.</td> 
	    <td>.</td>
	    <td>.</td>
	    <td>.</td> 
	    <td>.</td>
	  </tr>
	  <tr>
	    <td>.</td>
	    <td>.</td> 
	    <td>.</td>
	    <td>.</td>
	    <td>.</td> 
	    <td>.</td>
	  </tr>
	    <tr>
	    <td>.</td>
	    <td>.</td> 
	    <td>.</td>
	    <td>.</td>
	    <td>.</td> 
	    <td>.</td>
	  </tr>
	    <tr>
	    <td>.</td>
	    <td>.</td> 
	    <td>.</td>
	    <td>.</td>
	    <td>.</td> 
	    <td>.</td>
	  </tr>
	    <tr>
	    <td>.</td>
	    <td>.</td> 
	    <td>.</td>
	    <td>.</td>
	    <td>.</td> 
	    <td>.</td>
	  </tr>
	    <tr>
	    <td>.</td>
	    <td>.</td> 
	    <td>.</td>
	    <td>.</td>
	    <td>.</td> 
	    <td>.</td>
	  </tr>
	</table>

