<% title("Kablog") %>
<div id="adjust-down" class="container">
	<h1>Kablog</h1>

	<% if user_signed_in? %>
		<%= link_to "New Post", new_post_path, class:'btn btn-primary', id:'new-post-button' %>
	<% end %>

	<div class="col-lg-6">
		<ul>
			<% @post.each do |post| %>
				<li>
				<%= post.created_at.strftime("%m/%d/%Y")%>
				<%= link_to post.title, post %>
				</li>
			<% end %>
		</ul> 
	</div>
</div>