<% title("Kablog") %>
<div id="adjust-down" class="container">
	<h1>Kablog</h1>

	<% if user_signed_in? %>
		<%= link_to "New Post", new_post_path, class:'btn btn-primary', id:'new-post-button' %>
	<% end %>

	<div class="col-lg-12">
			<% @post.order(created_at: :desc).each do |post| %>
				<div class="blog-view-head">
					<p><%= post.created_at.strftime("%m/%d/%Y")%></p>
					<h4><b><%= link_to post.title, post %></b></h4>
				</div>

				<div class="blog-view-body">
					<%= truncate(simple_format(post.body), escape: false, length: 200) %>
				</div>

			<% end %>
	</div>
</div>