<div id ="adjust-down" class= "container">
	<h1>Kablog</h1>

	<% if user_signed_in? %>
		<%= link_to "New Post", new_post_path, class:'btn btn-primary' %>
	<% end %>

	<ul>
		<% @post.each do |post| %>
			<li><%= link_to post.title, post %></li>
		<% end %>
	</ul> 
</div>