  <section id="intro" class="intro-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1>My name is Ka Mok.</h1>
          <h3>I am a fullstack product designer.</h3>
          <div id="ka-stack">
            <h4>Idea</h4>
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
            <h4>Research</h4>
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
            <h4>Planning</h4>
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
            <h4>Development</h4>
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
            <h4>Analysis</h4>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- About Section -->
  <section id="about" class="about-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12"> <h1>About Me</h1>
          <div class="row">
            <div class="col-lg-6">
              <h4>Professional</h4>
              <p>I was exposed to the world of programming when I began collaborating with developers as a designer in University. Often, I felt powerless and frustrated after delivering the plans for the product (wireframes, assets, research) as my developers struggle to meet deadlines due to unforeseen technical problems. To ease the workload of my devs, I tinkered with front-end. A year later and with the help of a great teacher, I became a full-stack product designer.</p>
            </div>
            <div class="col-lg-6">
              <h4>Personal</h4>
              <p>I was exposed to the world of programming when I began collaborating with developers as a designer in University. Often, I felt powerless and frustrated after delivering the plans for the product (wireframes, assets, research) as my developers struggle to meet deadlines due to unforeseen technical problems. To ease the workload of my devs, I tinkered with front-end. A year later and with the help of a great teacher, I became a full-stack product designer.</p>
            </div>
          </div><!-- row -->
          <%= image_tag("portrait.png") %>
        </div><!-- col-log-12 -->
      </div><!-- row -->
    </div><!-- container -->
  </section>
  <!-- Services Section -->
  <section id="services" class="services-section">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <h1>Services Section</h1>
              </div>
          </div>
      </div>
  </section>

  <!-- Contact Section -->
  <section id="contact" class="contact-section">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <h1>Find me on:</h1> 
                  <h3></h3>
                <div id="social-contacts">
                  <ul>
                    <li>
                      <a href="mailto:hey.kamok@gmail.com" class="btn btn-social-icon btn-google btn-lg">
                        <span class="fa fa-envelope"></span>
                      </a>
                    </li>
                    <li>
                      <a href="https://github.com/kamok" class="btn btn-social-icon btn-github btn-lg" target="_blank">
                        <span class="fa fa-github"></span>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.linkedin.com/in/ka-mok-04399b65" class="btn btn-social-icon btn-linkedin btn-lg" target="_blank">
                        <span class="fa fa-linkedin"></span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
          </div>
      </div>
  </section>

