
<div class="center">
	<h1>My name is Ka Mok<span style = "font-size:small"> (kah-mawk)</span></span>.</h1>

	<h3> I am a generalist. </h3>


</div>


<p><%= link_to "Click me to go to Google.", "https://google.com"%></p>








<!-- <h2>I am a strategic designer</h2>
<p>focused on UX and web development.</p>
<h2>I am a design strategist</h2>
<p>focused on creating systems that promote effective social change</p>
<h2>I am a generalist</h2>
 -->

