<div id="adjust-down" class="container">
	<% if user_signed_in? %>
		<%= link_to "Edit List", "reading-list/edit", class:'btn btn-primary'%>
	<% end %>
	
	<h1>The Reading List</h1>
	<%= @reading_list.body %>
</div>