<div id="adjust-down" class="container">
	<% if user_signed_in? %>
		<%= link_to "Edit List", "reading-list/edit", class:'btn btn-primary'%>
	<% end %>
	
	<h1>My Reading List</h1>

	<div id="reading-list-view">
		<%= simple_format(@reading_list.body) %>
	</div>
</div>