<div id ="adjust-down" class= "container">
	<h1>Toys</h1>

	<p>Your ip address is <%= cookies[:client_ip] %>. </p>
	<p>Your current temperature is about <%= @current_temp %> degrees F.</p>


		<table id = "random_table">
		  <tr>
		    <td></td>
		    <td></td> 
		    <td></td>
		    <td></td>
		    <td></td> 
		  </tr>
		</table>
		
</div>
