<!-- Clicky Table Toy -->
  <section class="table-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
					<h1>Clicky Table</h1>
					<p>In construction.</p>
        <table id = "random_table">
				  <tr>
				    <td></td>
				    <td></td> 
				    <td></td>
				    <td></td>
				    <td></td> 
				  </tr>
				</table>
         
        </div>
      </div>
    </div>
  </section>