<section class="weather-section">
	<div class="container" ng-app="weatherApp">
		<div class="container">

			<h1>Weatherman</h1>
			<div ng-controller="weatherCtrl">
				<form ng-submit="findWeather(locationQuery)">
					<div class="form-group">
				    <input type="text" ng-model="locationQuery" placeholder="Central Park" class="form-control">
				  </div>
			  </form>

			<div class="row"></div>
				
				<h3>{{ address }}</h3>

				<div class="circle">
			    <span>
				    <div id="toy-current-temp">
							{{ currentTemp }}°F
						</div>
						{{ currentSummary }}
						<div id="toy-max-min-temp-current">
						<b>{{ todayMax }}°</b>/{{ todayMin }}°
						</div>
			    </span>
			  </div><!-- circle -->

			  <div class="row"></div>
			  <div ng-repeat="eachDay in forecast">
				 	<div class="col-lg-3">
				 		<div class="weather-box">
				 			<div class="toy-weather-day">
				 				<p><b><big>{{ eachDay.day }}</big></b></p>
				 				<p>{{ eachDay.date }}</p>
				 			</div>

				 			<div class="weather-icon">
		 		 				<i class="wi wi-{{ eachDay.icon }}"></i>

		 		 			</div>

				 			<div class="max-min-temp">
				 				<b>{{ eachDay.max }}°</b>/{{ eachDay.min}}°
				 			</div>

				 			<div class="weather-summary">
				 				{{ eachDay.summary }}
				 			</div>

				 		</div>
				 	</div><!-- col-lg-3 -->
				</div>

			</div><!-- ng-controller="weatherCtrl" -->
		
		</div>
	</div>
</section>

<script src="/javascripts/weather.module.js"></script>
<script src="/javascripts/weather.factory.js"></script>
<script src="/javascripts/weather.controller.js"></script>
<script src="/javascripts/weather.model.js"></script>