<section class="weather-section">
	<div class="container" ng-app="weatherApp">
		<h1>Weatherman</h1>
		<div ng-controller="weatherCtrl">
			<form ng-submit="findWeather(locationQuery)">
				<div class="form-group">
			    <input type="text" ng-model="locationQuery" placeholder="Central Park" class="form-control">
			  </div>
		  </form>
				<div class="row"></div>
				<h3>{{ address }}</h3>

				<div class="circle">
			    <span>
				    <div id="toy-current-temp">
							{{ currentTemp }}°F
						</div>
						{{ currentSummary }}
						<div id="toy-max-min-temp-current">
						<b>{{ todayMax }}°</b>/{{ todayMin }}°
						</div>
			    </span>
			  </div><!-- circle -->
			  <div class="row"></div>
			  
				<slick slides-to-show=5 slides-to-scroll=1 init-onload=true data="forecast" arrows=true dots=false>
				  <div ng-repeat="eachDay in forecast">
					 	<div class="weather-box">
					 			<div class="toy-weather-day">
					 				<p><b><big>{{ eachDay.day }}</big></b></p>
					 				<p>{{ eachDay.date }}</p>
					 			</div>

					 			<div class="weather-icon">
			 		 				<i class="wi wi-{{ eachDay.icon }}"></i>
			 		 			</div>

					 			<div class="max-min-temp">
					 				<b>{{ eachDay.max | number: 0 }}°</b>/{{ eachDay.min | number: 0 }}°
					 			</div>

					 			<div class="weather-summary">
					 				{{ eachDay.summary }}
					 			</div>
					 		</div>
					</div><!-- ng-repeat="eachDay in forecast" -->
				</slick>
				
		</div><!-- ng-controller="weatherCtrl" -->
	</div><!-- ng-app="weatherApp" -->
</section>

<script src="javascripts/slick-carousel/slick.min.js"></script>
<script src="javascripts/angular-slick/slick.min.js"></script>