/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

/*font*/
@import url(https://fonts.googleapis.com/css?family=Raleway:800,400);
$font-family-sans-serif: 'Raleway', sans-serif;

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

$font-size-base: 16px;
body{
	h1, h2 {
		font-weight:800;
	}
}

/*body*/
$body-bg: #e6e6e6 ;
$brand-primary: #339933;

span.line {
  display: inline-block;
}

/*navbar*/

$navbar-height: 							40px;
$navbar-default-bg: 					white;
$navbar-default-link-color: 	#339933;

.navbar{
	z-index: 123;
}
.navbar-brand{
	font-weight:bold;
}

/*alert*/
$alert-border-radius: 0px;

/*horizontal dividers*/
$hr-border: black;

hr.style1 {
  border: 0; 
  height: 3px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

hr.style2 {
	border-top: 2px solid #ccc;
	text-align: center;
	max-width: 800px;
}
hr.style2:after {
	content: '§';
	display: inline-block;
	position: relative;
	top: -13px;
	padding: 0 10px;
	background: #fff;
	color: #333;
	font-size: 20px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
}

@import "bootstrap-sprockets";
@import "bootstrap-tour.min";
@import "bootstrap";
@import "bootstrap-wysihtml5/bootstrap3-wysihtml5";
@import "toys";
@import "bootstrap-social";
@import "pages";
@import "posts";
@import "scrolling-nav";
@import "font-awesome";
@import 'weather-icons';
@import 'reading_lists';
@import 'preloader';