/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

/*font*/
@import url(https://fonts.googleapis.com/css?family=Raleway:800,400);
$font-family-sans-serif: 'Raleway', sans-serif;

$font-size-base: 16px;
body{
	h1, h2 {
		font-weight:800;
	}
}

/*body*/
$body-bg: #e6e6e6 ;
$brand-primary: #339933;

/*intro*/
.intro-section {
	background-image: asset-url("background-2.jpg");
	background-repeat: no-repeat;
	background-position: center; 
	color:#262626;
}

#ka-stack{
	margin-top:  35px;
	h4{
		font-weight:800;
	// line-height: 0.2;
	}
}


/*navbar*/

$navbar-height: 							40px;
$navbar-default-bg: 					white;
$navbar-default-link-color: 	#339933;

.navbar{
	z-index: 123;
}
.navbar-brand{
	font-weight:bold;
}

/*alert*/
$alert-border-radius: 0px;


@import "bootstrap-sprockets";
@import "bootstrap-tour.min";
@import "bootstrap";
@import "bootstrap-wysihtml5/bootstrap3-wysihtml5";
@import "about";
@import "bootstrap-social";
@import "pages";
@import "posts";
@import "scrolling-nav";
@import "font-awesome";