//Alerts
.alert-info {
    color: #006699;
    background-color: white;
    border-color: #ccc;
    position:absolute;
    top: 40px;
    width:100%;

}

//Adjust for navbar
#adjust-down {
	margin-top: 100px;
}

@media(min-width:767px) {
	.alert-info {
		position:absolute;
	  top: 65px;
	}
	#adjust-down {
		margin-top: 120px;
	}
}

//Social 
#social-contacts {
	list-style: none;
	ul{
		padding: 0;
		li {
			display: inline;
			margin: 5px;
			a {
				background-color: #339933;
			}
		}
	}
}

.col-lg-6 {   
    text-align: left;
}
