// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//Alerts
.alert-info {
    color: #006699;
    background-color: white;
    border-color: #b3e7ff;
}

//Adjust for navbar
#adjust-down {
	margin-top: 50px;
}

@media(min-width:767px) {
	#adjust-down {
	margin-top: 70px;
}
}