// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#post_body {
	width:100%;
	height: 500px;
}

#adjust-down{
	li{
		line-height: 10%;
	}
	ul{
		padding:0 40px;
	}
}
