//WYSIWYG editor 
#post_body { //defined by Rails
	width:100%;
	height: 500px;
}

#reading_list_body { //Why does this only work on this page?
	width:100%;
	height: 500px;
}

#post-view{
 	ul br {display:none;}
}

#reading-list-view{
	ul br{display:none;}  
}

//Post View Buttons
#blog-view-nav {
	list-style: none;
	ul{
		padding: 0;
		li {
			display: inline;
			margin-right: 10px;
		}
	}
}

#new-post-button {
	margin-bottom: 11px; 
}