@media(min-width:767px) {
    .navbar {
        padding: 10px 0;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
    }
}

@media(max-width:766px) {
    .navbar {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
    }
}

/*intro*/
.intro-section {
    height: 770px;
    padding-top: 150px;
    text-align: center;
    background-image: asset-url("background-2.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    color: #262626;
}

#ka-stack{
    margin-top:  35px;
    h4{
        font-family: 'Open Sans', sans-serif;
    }
}

.about-section {
    /*min-height: 750px;*/
    overflow: hidden;
    padding-top: 50px;
    text-align: center;
    background: #eee;
}

#about-quote{
    padding-top: 20px;
    padding-bottom: 25px;
    font-family: 'Open Sans', sans-serif;
    color:#339933;
}

.projects-section {
    overflow: hidden;
    padding-top: 50px;
    text-align: center;
    background: #fff;
    .project{
        margin-top: 40px;
        h3{
            color:#339933;
            font-weight: bold;
        }
    }
    .project-links {
    padding:10px;
    color:#339933;
    }
    .project-images{
        img{
        height: auto;
        max-width: 100%;
        margin-bottom: 50px;
        border-style: solid;
        border-width: 1px;
        border-color: #d6d6d6;
        }
    }
}


.contact-section {
    height: 400px;
    padding-top: 100px;
    text-align: center;
    background: #404040;
    color:white;
}