@media(min-width:767px) {
    .navbar {
        padding: 10px 0;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
    }
}

@media(max-width:766px) {
    .navbar {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
    }
}

/*intro*/
.intro-section {
    height: 770px;
    padding-top: 150px;
    text-align: center;
    background-image: asset-url("background-2.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    color:#262626;
}

#ka-stack{
    margin-top:  35px;
    h4{
        font-family: 'Comfortaa', cursive;
    }
}

.about-section {
    /*min-height: 750px;*/
    overflow: hidden;
    padding-top: 50px;
    text-align: center;
    background: #eee;
}

#about-quote{
    padding:20px;
    font-family: 'Comfortaa', cursive;
    color:#339933;
}

.services-section {
    height: 750px;
    padding-top: 50px;
    text-align: center;
    background: #fff;
}

.contact-section {
    height: 400px;
    padding-top: 100px;
    text-align: center;
    background: #404040;
    color:white;
}