@media(min-width:767px) {
    .navbar {
        padding: 10px 0;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
    }
}

@media(max-width:766px) {
    .navbar {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
    }
}

.intro-section {
    height: 750px;
    padding-top: 150px;
    text-align: center;
}

.about-section {
    /*min-height: 750px;*/
    overflow: hidden;
    padding-top: 50px;
    text-align: center;
    background: #eee;
}

.services-section {
    height: 750px;
    padding-top: 50px;
    text-align: center;
    background: #fff;
}

.contact-section {
    height: 400px;
    padding-top: 100px;
    text-align: center;
    background: #404040;
    color:white;
}

.col-lg-6 {
    text-align: left;
}