.toy-intro-section{
    height: 200px;
    padding-top: 50px;
    text-align: center;
    background: #eee;
}

.weather-section {
    min-height: 800px;
    padding-top: 50px;
    text-align: center;
    background: #fff;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

.circle {
  background: #339933;
  border-radius:50%;
  color: white;
  display:table;
  height: 220px;
  width: auto;
  margin:0 auto;
    span {
    display:table-cell;
    vertical-align:middle;
    height:220px;
    width:220px;
    text-align:center;
    padding: 0 15px;
    	#toy-current-temp{
    		margin-top: -5px;
    		font-style: bold;
    		font-size: 4.5em;
    		margin-left:15px;
    		span{
    		}
    	}
    	#toy-max-min-temp-current{
            margin-top: 5px;
    		// font-size: 1.25em;
    	}
	}
}

.weather-box{
    background-color: rgba(128, 128, 128, 0.2);
    max-width: 300px;
    padding:20px;
    margin: 50px auto 20px;
    .toy-weather-day{
        font-size: 1.5em;
    }
    .weather-icon{
        padding: 10px;
        font-size: 3.5em;
    }
}

.table-section {
    height: 750px;
    padding-top: 50px;
    text-align: center;
    background: #eee;
}

#random_table {
  margin: auto;
	width:350px; 
	border: 1;
	border-spacing: 5px;
	tr td {
		height: 20px;
		width: 20%;
	}
}

td {
    background-color: #4CAF50;
    color: white;
}