.toy-intro-section{
    height: 200px;
    padding-top: 50px;
    text-align: center;
    background: #eee;
}

.weather-section {
    height: 750px;
    padding-top: 50px;
    text-align: center;
    background: #fff;
}

.table-section {
    height: 750px;
    padding-top: 50px;
    text-align: center;
    background: #eee;
}

#random_table {
  margin: auto;
	width:500px; 
	border: 1;
	border-spacing: 5px;
	tr td {
		height: 20px;
		width: 20%;
	}
}

td {
    background-color: #4CAF50;
    color: white;
}